/* Asset overview page grid (other screen) */
.asset-layout {
    display: grid;
    gap: 16px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(0px,100px) auto 1fr;

    grid-template-areas:
        "asset-asset    asset-location    asset-meta    asset-status"
        "asset-metrics  asset-location    asset-meta    asset-status"
        "asset-history  asset-history     asset-history .";
    align-items: start;
}

.asset-asset    { grid-area: asset-asset;    align-self: stretch; }
.asset-location { grid-area: asset-location; align-self: stretch; }
.asset-meta     { grid-area: asset-meta;     align-self: stretch; }
.asset-status   { grid-area: asset-status; }
.asset-metrics  { grid-area: asset-metrics; }
.asset-history  { grid-area: asset-history; }
