{% extends "base.html" %}
{% block title %} Maintenance - Asset {{ asset.get('asset_friendly_tag') }} {% endblock %}
{% block page_title %} Maintenance - Asset {{ asset.get('asset_friendly_tag') }} {% endblock %}

{% block content %}
    <div class="asset-layout">
        <section class="card asset-asset" style="min-height:10vh">
            <h2 style="margin:0;"> {{ asset.get('asset_friendly_tag') }} </h2>
            <div class="muted"> {{ asset.get('asset_age') }} old </div>
        </section>

        <section class="card asset-location" style="min-height:10vh">
            <h2 style="margin:0;"> {{ asset.get('site_friendly_name') }} </h2>
            <div class="muted"> - </div>
            <div><b>Before: </b>-</div>
            <div class="muted"> - ago </div>
        </section>

        <section class="card asset-meta" style="min-height:15vh">
            <div><b>Make: </b>{{ asset.get('asset_make') }}</div>
            <div><b>Model: </b>{{ asset.get('asset_model') }}</div>
            <div><b>Variant: </b>{{ asset.get('asset_variant') }}</div>
        </section>

        <section class="card asset-status" style="min-height:5vh">
            <div><b>Status:</b><span class="badge>"> {{ asset.get('asset_status') }} </span></div>
            <div class="muted"> - </div>
        </section>

        <section class="card asset-metrics" style="min-height:5vh">
            <div><b>Last Maintenance:</b>
                <div class="muted"> - </div>
            </div>
            <div><b>Uptime:</b>
                <div class="muted"> - </div>
            </div>
        </section>

        <section class="column asset-history">
            <h3 style="margin 0 0 8px;">Maintenance History</h3>
            <div class="table">
                <div class="thead--four">
                    <div>Date</div>
                    <div>Issue</div>
                    <div>Length</div>
                    <div>Result</div>
                </div>
                <div class="trow--four">
                    <div>01/03/2024</div>
                    <div>Missing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing BrainMissing Brain</div>
                    <div>3w</div>
                    <div>Brain Found</div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer_center_right %}
    <a class="btn--lg" href="#">Update Asset</a>
{% endblock %}