<aside class="sidebar">
    <div style="text-align:center; padding:20px;">
        <img class="full-logo" src="{{ url_for('static', filename='img/full-size-logo.png') }}" alt="Hi!">
        <div><h2>Maintenance</h2></div>
        <hr style="border: 1px solid #ccc; margin: 20px 0;">
    </div>

    <nav class="nav">
        <a href="{{ url_for('app.dashboard') }}" class="{{ 'is-active' if request.endpoint == 'app.dashboard' else 'not-active' }}">Dashboard</a>
        <a href="{{ url_for('app.issues_list', f='active') }}" class="{{ 'is-active' if request.endpoint == 'app.issues_active' else 'not-active' }}">Active Issues</a>
        <a href="{{ url_for('app.issues_list', f='closed') }}" class="not-active">Past Issues</a>
        <a href="{{ url_for('app.issues_list', f='blocked') }}" class="not-active">Blocked Issues</a>
        <a href="{{ url_for('app.assets') }}" class="{{ 'is-active' if request.endpoint == 'app.assets' else 'not-active' }}">Inventory</a>
        <a href="#" class="not-active">Settings</a>
    </nav>
</aside>