<aside class="sidebar" id="sidebar">
    <div class="sidebar-brand">
        <img class="full-logo" src="{{ url_for('static', filename='img/full-size-logo.png') }}" alt="Maintenance System Logo">
        <div class="sidebar-title">Maintenance</div>
    </div>

    <hr class="sidebar-divider">

    <nav class="nav">
        <a href="#" {% if request.endpoint == 'app.dashboard' %}class="is-active"{% endif %}>Dashboard</a>
        <a href="{{ url_for('app.issues_list', status='IN_PROGRESS') }}"
            {% if request.endpoint == 'app.issues_active' %}class="is-active"{% endif %}>Active Issues</a>
        <a href="{{ url_for('app.issues_list', status='CLOSED') }}"
            {% if request.endpoint == 'app.issues_past' %}class="is-active"{% endif %}>Past Issues</a>
        <a href="{{ url_for('app.issues_list', status='BLOCKED') }}"
            {% if request.endpoint == 'app.issues_blocked' %}class="is-active"{% endif %}>Blocked Issues</a>
        <a href="#" {% if request.endpoint == 'app.inventory' %}class="is-active"{% endif %}>Inventory</a>
        <a href="#" {% if request.endpoint == 'app.settings' %}class="is-active"{% endif %}>Settings</a>
    </nav>
</aside>