{% extends "base.html" %}
{% block title %} Maintenance - Active Issues {% endblock %}
{% block page_title %} Active Issues {% endblock %}


{% block content %}
    <div class="card">
        Filter [To be implemented]
    </div>
  {% if issues %}
    <div class="table">
      <div class="thead--four">
        <div>Asset Name</div>
        <div>Title</div>
        <div>Opened</div>
        <div>Status</div>
      </div>

      {% for issue in issues %}
        <a class="trow--four" href="{{ url_for('app.view_issue', issue_uuid=issue.get('workOrder_uuid')) }}">
            <div>#{{ issue.get('asset_friendly_tag') }}</div>
            <div>{{ issue.get('workOrder_raw_issue_description') }}</div>
            <div>{{ issue.get('workOrder_created_at') }}</div>
            <div class="badge badge--{{ 'warn' if issue.get('workOrder_status') == 'IN_PROGRESS'
                                        else 'ok' if issue.get('workOrder_status') == 'OPEN'
                                        else 'bad' if issue.get('workOrder_status') == 'BLOCKED'
                                        else 'blue'}}">
                {{ issue.get('workOrder_status') }}</div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No active issues.</p>
  {% endif %}
{% endblock %}