{% extends "base.html" %}
{% block title %} Maintenance - Active Issues {% endblock %}
{% block page_title %} Active Issues {% endblock %}


{% block content %}
  {% if issues %}
    <div class="table">
      <div class="thead">
        <div>Asset Name</div>
        <div>Title</div>
        <div>Opened</div>
        <div>Status</div>
      </div>

      {% for issue in issues %}
        <a class="trow" href="#">
            <div>#{{ issue[0][5] }}</div>
            <div>{{ issue[0][2] }}</div>
            <div>{{ issue[0][3] }}</div>
            <div class="badge">{{ issue[0][4] }}</div>
            <div>{{ issue[0][5] }}</div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No active issues.</p>
  {% endif %}
{% endblock %}