{% extends "base.html" %}{% block body %}
  <h1>{{ asset[2] }} - {{ asset[3] }}</h1>

  <h2>Open tickets</h2>
    <ul>
      {% for work_order in open_work_orders %}
        <li>
          <a href="{{ url_for('app.work_order_page', wo_id=wo[0]) }}">WO-{{ wo[0] }}</a>
          — {{ wo[2] }} ({{ wo[1] }})
        </li>
      {% else %}
        <li>None</li>
      {% endfor %}
    </ul>

  <h2>Closed Tickets</h2>
    <ul>
      {% for work_order in closed_work_orders %}
        <li>
          <a href="{{ url_for('app.work_order_page', wo_id=wo[0]) }}">WO-{{ wo[0] }}</a>
          — {{ wo[2] }} ({{ wo[1] }})
        </li>
      {% endfor %}
    </ul>

  <h2>New ticket</h2>
    <form method="post" action="{{ url_for('app.create_issue', uuid_str=asset[1]) }}" enctype="multipart/form-data">
      <textarea name="issue" rows="3" placeholder="Describe the issue" style="width:100%"></textarea><br>
      <input type="file" name="photo" accept="image/*"><br>
      <button type="submit">Submit</button>
  </form>
{% endblock %}